@import "tailwindcss";

* {
  font-family: Outfit;
}

.font-Ovo {
  font-family: Ovo, sans-serif !important;
}
.lightHover:hover {
  background-color: #fcf4ff;
}

.boxHover:hover {
  box-shadow: 4px 4px 0 #000000;
}

.socialHover {
  box-shadow: 1px 1px 0 #000000;
}

.boxShadow {
  box-shadow: 2px 2px 0 #000000;
}
